body{
	background-color: rgb(0, 27, 39);
	font-family:sans-serif;
	color: rgb(255, 255, 255);
}
div{	
	display:table;
}
.linha-item-1{
	float:left;
}
.item-md{
	width:225px;
	padding:10px;
	font-size:10px;	
	margin:10px;
	height: 138px;
}

.item-branco a{
	font-size: 18px;
	text-decoration: none;
	color: blue;
}

.item-interior-azul{
	background-color: #97f2ff;
	padding: 15px;
}

.item-branco div{
	margin-bottom: -5px;
}

.bottom-menu{
	width: 50%;
	margin: auto;
	margin-top: 20px;
	height: 20px
}

.bottom-menu div{
	float: left;
	width: 100px;
	color: blue;
	font-size: 15px;
	text-decoration: none;
}

.bottom-menu div a{
	color: blue;
	font-size: 18px;
	text-decoration: none;
}

.item-azul{
	background-color:rgb(0, 98, 153);
}
.cor-botao{
	background-color:rgb(0, 172, 234);
	border:0px;
	border-radius:3px;
	padding:10 5 10 5px;
	color:rgb(255, 255, 255);
}

.row-completa{
	width: 100%;
	height: 50px;
	margin-bottom: -20px;
	background-color: #97f2ff;
}

/*.row-completa div{
	width: 100%;
	height: 50px;
	margin-bottom: -20px;
}*/


.item-branco{
	color: black;
	float: left;
}

.texto-rodape{
	color:rgb(33, 110, 146);
}
footer{
	/*background-color:rgb(204, 236, 255);*/
	margin: 10px;
}
.destaque-titulo{
	color: rgb(0, 152, 228);
}
.itens{
	display:table;
	margin:10px;
	height: 350px;
}
.container{
	display:table;
	background-color: white;
	width:100%;
	margin:auto;
	padding:10px;
}

.wrapper{
	width:50%;
	margin:auto;
	margin-top:30px;
}

.banner{
	width:800px;
	height: 350px;
	margin:10px;
	margin-top: 20px;
}

.banner img{
	width: inherit;
	height: inherit;
	margin: auto;
}


.item-selecionado{
	color:rgb(15, 87, 119);
}

nav{
	display:table;
	margin-left:10px;
}
nav a{
	color:rgb(255, 255, 255);
	text-decoration:none;
	margin:10px;
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	font-weight:bold;
	float:left;
}
header h2{
	float:left;
	margin-top:0;
}
.row{
	margin:auto;
	width:800px;
}

footer p{
	float: left;
}

footer img{
	margin-top: 15px;
}
.social-icons{
	margin-left:312px; 
		float: left;

}

.bannerText{
	color: white;
	position: absolute;
	margin-top: -300px; 
	margin-left: 20px;
	font-size: 40px;
}

.esquerda{
	margin-left:0px;
}

.direita{
	margin-right:0px;
	float:right;
}

.centro{
	
	margin-left:23px;
}