body{
	font-family:'Arial',sans-serif;
}
main{
	width: 950px ;
	margin: auto;
	display:table;
}
header{
	width: 950px ;
	height:105px;
	display:table;
}
header nav{
	display:table;
	float:left;
	width:700px;
}
#logomarca{
	width:250px;
	float:left;
}
.menu-nave ul {
	float:right;
	display:inline ;
	height:30px;
}
.menu-nave ul li{
	margin:15px;
	display:inline;
}
.menu-nave ul li a{	
	color:rgb(0, 51, 102);
}

#sacola{
	letter-spacing:2px;
	width: 200px;
	height:50px;
	margin-left: 500px;
	float:left;
}
#sacola img{
	padding-top:5px;
}
#sacola p{
	width:160px;
	font-size:09pt;
	float:left;
	display:inline;
	text-align:right ;
}




aside{
	width:220px;
	margin-right:0;
	float:left ;
}
.busca{
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background-color: rgb(220,220,220);
	padding:10px;
	width:200px;
	font-weight: bold;
}
#area-de-pesquisa{
	border-radius: 25px;
}
.nav-lateral{
	width:220px;
	background-color:rgb(220,220,220);
	text-transform: uppercase;
}
.nav-lateral ul{
	font-weight: bold;	
	list-style-type: none;
	color: rgb(51,51,51);
	padding:10px 0px 8px 0px;
}
.nav-lateral ul p{
	margin:0 0 10px 5px;
}
.nav-lateral ul li{
	width:215px;
	padding:2px 0 2px 5px;
	background-color:rgb(255,255,255);
	border-bottom:solid 1px rgb(220,220,220);
}
.nav-lateral ul li a{
	font-weight: bold;	
	color: rgb(51,51,51);
	text-decoration: none;
}

.capa{
	margin:0 15px;
	width:700px;
	float:left ;
}


.mostruario{
	width: 450px;
	float:left ;
	border-radius:5px;
	padding: 10px;
	margin-top: 15px;
}
.mostruario h2{
	margin:0 0 10px 0;
}
.linha-de-produtos{	
	width: 450px;
	margin-bottom:15px;
}
.linha-de-produtos .produto{
	float: left;

}
.produto{
	width:145px;
	margin-left: 5px;
}
.produto img{
	width:145px;
}
.produto p{
	text-align:center;
	margin:5px 0 10px 0;
}

.novidades{
	background-color:rgb(245, 218, 218);
	margin-right:5px;
}
.mais-vendidos{
	background-color:rgb(218, 218, 245);
	margin-left:5px;
}


footer{
	margin-top:10px;
	height:120px;
	background-image:url("../img/fundo-rodape.png");
}

footer img{
	margin: 32px 680px 32px 0;
	float:left ;
}
.rodape{
	width: 950px;
	margin:auto;
}

.social-midia{
	display:table;
	height:32px;
	margin: 42px 0 42px 0;
	float:left ;
}
.social-midia .icon{
margin:0 10px 0 0;
}