body{
	font-family: 'Muli', sans-serif;
	margin: 0;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 86px;
	color: #D91E18;	
	text-align: center;
}

figcaption{
	font-size: 10px;
	text-align: center;
}

footer{
	margin-top: 40px;
	background-color: #D91E18;	
	padding: 20px;
	padding-left: 180px;
}

footer div{
	display: table-cell;
}

footer li{
	color: #ffffff;
	margin: 10px;
	font-size: 11px;
}

.text-container{	
	width: 600px;
	display: inline-block;
	text-align: justify;
	line-height: 30px;
}

.center{
	text-align: center;
}

.right{
	float: right;
}