@CHARSET "UTF-8";

#titulo
{
	letter-spacing: -3px;
	font-family: sans-serif;
	margin-top: 3px;
}

#titulo span
{
	color: rgb(247,153,63);
}

#slogam
{
	font-size: xx-large;
	font-weight: lighter;
	font-family: sans-serif;
	color: rgb(21,38,53);
	margin-bottom: 5px;
}

#sobre
{
	color: rgb(21,38,53);
	margin-top: 0px;
}

header
{
	background-color: rgb(240,240,240);
}

#header-container
{
	width: 60%;
	margin: 0 auto;
	display: table;
}

#cabecalho
{
	width: 50%;
}

#fig-header
{
	whidth : 100px;
	height: 100px;
	padding: 0;
	margin: 1px;
}

#top-nav
{
	clear: right;
	margin: 0 auto;
	width: 80%;
	padding: 10px 0;
}

#num-flag
{
	background-color: white;
	position: absolute;
	top: 0;
	right: -140px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(5,19,30);
	font-weight: bolder;
	color: white;
}

#num-flag span
{
	color: rgb(243,146,0);
}

#menu-container
{
	background-color: rgb(21,38,53);
}

#top-menu
{
	list-style: none;
	margin: 0 auto;
	display: table;
}

#top-menu li
{
	display: inline;
	padding: 10px 38px;

}

#top-menu li:hover
{
	background-color: rgb(237,134,0);
	cursor: pointer;
}

#top-menu li a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#img-top
{
	position: relative;
	padding: 0;
	margin: 0;
	left: -70px;
}

.inline
{
	display: inline-block;
}

.float-right
{
	float: right;
}