@CHARSET "UTF-8";

#conteudo{
	display: table;
	width: 100%;
}

.container{
	display: table;
	margin: 0 auto;
	max-width: 900px;
}

.itens{
	box-sizing: border-box;
	border: 8px solid rgb(240, 240, 240);
	float: left;
	width: 280px;
}

.itemDoMeio {
	margin: 0 30px 0 30px; 	
}

.figuraDoItem {
    	margin: 0;
}

.figuraDoItem img {
	display: block;
	width: 264px;
	height: 145px;
}

.figuraDoItem figcaption {
	display: table-cell;
	background-color: #152635;
	height: 40px;
	width: 264px;
	padding-left: 7px;
	color: white;
	letter-spacing: -0.08em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.3em;
	font-weight: bolder;
	vertical-align: middle;
}

.itens p {
	font-family: Verdana, Geneva, sans-serif;
	padding: 0 10px 0 10px;
}

.clearfix {
	clear: both;
}