@CHARSET "UTF-8";

#conteudo{
	display: table;
	width: 100%;
}

.container{
	margin: 0 auto;
	max-width: 900px;
	border: 1px solid black;
	background-color: yellow;
}

.itens{
	box-sizing: border-box;
	float: left;
	background-color: blue;
	width: 25%;
	margin-left: 6.25%; 
}

img {
	height: 48%;
	width: 100%;
}

.clearfix {
	clear: both;
}