@CHARSET "UTF-8";

header{
	background-color: #F0F0F0;
}

body{
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
}

nav{
	background-color: #152635;
	color: white;
}

nav ul{
	list-style: none;
}

footer{
	background-color: #152635;
	color: white;
	display: table;
	width: 100%;
	padding-bottom: 10px;
	margin: 20 0 0 0px;
}

.estreito{
	letter-spacing: -0.08em;
}

.footer_div {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-right: 50px
}

.footer_div + .footer_div {
	border-left: 2px solid #06141F;
	padding-right: 0;
	padding-left: 50px;
}

.container{
	margin: 0 auto;
	max-width: 900px;
}

.clearfix {
	clear: both;
}

.footer_div table{
	color: white;
	background-color: rgb(5,19,30);
	border-radius: 7px;
	padding: 5px;
	width: 400px;
}

.footer_div table td{
	padding-right: 5px;
}

.footer_div img{
	margin: 2 0 2 0;
	float:right;
}

.footer_div form input, .footer_div form textarea {
	width: 99%;
	margin-bottom: 5px;
	background-color: rgb(5,19,30);
	border: none;
	border-radius: 4px;
	color: white;
	padding: 5px;	
}

.footer_div form{
	width: 90%;	
}

.botao_laranja{
	background-color: rgb(237,134,0);
	border-radius: 4px;
	margin: 4px;
	border: none;
	color: white;
	min-height: 20px;
	float: right;
	padding: 4px 4px 4px 4px;
}

main .botao_laranja{
	width : 45%;
}

/* GNU */
main{
	display: table;
	width: 100%;
}

.container{
	display: table;
	margin: 0 auto;
	max-width: 900px;
}

.itens{
	box-sizing: border-box;
	border: 8px solid rgb(240, 240, 240);
	float: left;
	width: 280px;
	padding: 0 0 8px 0;
}

.itemDoMeio {
	margin: 0 30px 0 30px; 	
}

.figuraDoItem {
    	margin: 0;
}

.figuraDoItem img {
	display: block;
	width: 264px;
	height: 145px;
}

.figuraDoItem figcaption {
	display: table-cell;
	background-color: #152635;
	height: 40px;
	width: 264px;
	padding-left: 7px;
	color: white;
	font-size: 1.3em;
	font-weight: bolder;
	vertical-align: middle;
}

.itens p {
	padding: 0 10px 0 10px;
}

.clearfix {
	clear: both;
}

/* Octavio */
#titulo
{
	letter-spacing: -3px;
	font-family: sans-serif;
	margin-top: 3px;
}

#titulo span
{
	color: rgb(247,153,63);
}

#slogam
{
	font-size: xx-large;
	font-weight: lighter;
	font-family: sans-serif;
	color: rgb(21,38,53);
	margin-bottom: 5px;
}

#sobre
{
	color: rgb(21,38,53);
	margin-top: 0px;
}

header
{
	background-color: rgb(240,240,240);
	margin: 0 0 10px 0;
}

#header-container
{
	width: 900px;
	margin: 0 auto;
	display: table;
}

#cabecalho
{
	width: 50%;
}

#fig-header
{
	whidth : 100px;
	height: 100px;
	padding: 0;
	margin: 1px;
}

#top-nav
{
	clear: right;
	margin: 0 auto;
	width: 900px;
	padding: 10px 0;
}

#num-flag
{
	background-color: white;
	position: absolute;
	top: 0;
	right: -140px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(5,19,30);
	font-weight: bolder;
	color: white;
}

#num-flag span
{
	color: rgb(243,146,0);
}

#menu-container
{
	background-color: rgb(21,38,53);
}

#top-menu
{
	list-style: none;
	margin: 0 auto;
	padding: 0px;
	display: table;
}

#top-menu li
{
	display: inline;
	padding: 10px 30px 10px 30px;
}

#top-menu li:hover
{
	background-color: rgb(237,134,0);
	cursor: pointer;
}

#top-menu li a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#img-top
{
	position: relative;
	padding: 0;
	margin: 0;
	left: -70px;
}

.inline
{
	display: inline-block;
}

.float-right
{
	float: right;
}