h1, h2, h3, h4, h5, h6{
	font-family: "Arial Narrow";
	margin: 0;
}

body,
html{
	color: #555;
	margin: 0;
}

a, a:visited, a:active, a:hover{
	text-decoration: none;
}

#topo {
	background-image: url('images/banner.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	height: 350px;
}

#topo img {
	width: 100%;
}

.banner-text {
	color: white;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.banner-text h1 {
	font-size: 36px;
	margin-bottom: 15px;
}

.banner-text p + p {
	margin-top: 10px;
}


.amarelo{
	color: rgb(243,197,0);
}

.verde
{
	color: rgb(1,161,133);
}

.verdeBg, .amareloBg {
	color: #ffffff;
	padding: 5px 10px;
}
.verdeBg
{
	background-color: rgb(1,161, 133);
}

.amareloBg{
	background-color: rgb(243,197,0);
}
header nav {
	float: right;
	margin: 15px 40px 15px 0;
}

header nav a{
	margin-right: 20px;
}

header h1{
	display: inline;
	margin-left: 60px
}

.servico {
	width:  1000px;
	margin: auto;
}

.servico div{
	
	box-size:border-box;
	width: 15%;
	float:left;
	padding: 5px;	
}
.servico figure{
	background-color: #eee;
	padding: 10px 0;
	margin: 0;
	text-align: center;
	border: 1px solid #ccc;
}

.servico figure img
{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	background-color: #fff;
}



.trending {
	width: 100%;
	position: relative;
}

.trending-container {
	box-sizing: border-box;
	float: left;
	width: 80%;
	margin-left: 10%;
}

.col-1of4 {
	box-sizing: border-box;
	float: left;
	padding: 0 10px;
	width: 25%;
}

.thumbnail {
	box-sizing: border-box;
	border: 1px solid #ccc;
	text-align: center;
	padding: 20px;
	position: relative;
}

.thumbnail-price {
	right: -5px;
	padding: 5px 10px;
	position: absolute;
	top: 0;
}

.thumbnail img {
	max-width: 100%;
}

.arrow {
	background: transparent;
	border: none;
	box-sizing: border-box;
	bottom: 0;
	cursor: pointer;
	display: inline-block;
	float: left;
	position: absolute;
	width: 10%;
	top: 0;
}

.arrow-left {
	left: 0;
}

.arrow-right {
	right: 0;
}

.arrow span {
	color: #666;
	font-size: 30px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arrow:hover {
	background-color: #eee;
}

.text-center {
	text-align: center;
}

.clearfix {
	clear: both;
}