header{
    background-color: #ffffff;
}

header nav{
    display: inline;
}

#logo{
    display: inline-block;
}

#logo h1{
    font-weight: bold;
    display: inline;
    font-size: 54px;
}

#logo h2{
    font-size: 54px;
    margin: 0 auto;
    font-weight: normal;
    margin-top: -20px;
}
