body{
    color: #777777;
    width: 70%;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

#background{
    background-color: #dddddd;
}

#content{
    margin: 0 auto;
    width: 686px;
    background-color: #ffffff;
}

#content h1{
    font-weight: normal;
}

#slogan{
    background-image: url("../images/figura1.png");
    background-repeat: no-repeat;
    background-size: 686px 355px;
    height: 355px;
    color: #ffffff;
    padding: 10px 35px;
}

#slogan h1{
    font-weight: bold;
    font-size: 40px;
}

#slogan h2{
    font-weight: normal;
    font-size: 35px;
    margin-top: -30px;
}

#services{
    display: inline-block;;
    width: 45%;
}

#rentals{
    display: inline-block;;
    width: 45%;
    float: right;
}

#middle{
    background-color: #333333;
    color: #ffffff;
    padding: 25px 35px;
}

#middle h2{
    display: inline;
    font-weight: normal;
}

#middle span{
    background-color: #6BB9F0;
    padding: 5px 15px;
    float: right;
}

.content-padding{
    padding: 10px 30px;
}
